﻿@{
    var menus = new[]
                {
                   new { LinkText="Home", ActionName="Index",ControllerName="Home",Roles="All"  },
                   new { LinkText="Customers", ActionName="Index",ControllerName="Customer",Roles="Administrator"  },
                   new { LinkText="Projects", ActionName="Index",ControllerName="Project",Roles="Administrator"  },
                   new { LinkText="Time Summary", ActionName="Index",ControllerName="WorkSummary",Roles="Freelancer"  },
                   new { LinkText="Time Registration", ActionName="Index",ControllerName="WorkRecord",Roles="Freelancer"  },
                   new { LinkText="Work Types", ActionName="Index",ControllerName="WorkType",Roles="Administrator"  },
                   new { LinkText="Users", ActionName="Index",ControllerName="User",Roles="Administrator"  }
                };
}

<ul id="menu">
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    String[] roles = Roles.GetRolesForUser();
    var links = from item in menus
                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                .Any(x => roles.Contains(x) || x == "All")
                select item;
    foreach (var link in links)
    {
        @: <li> @Html.ActionLink(link.LinkText, link.ActionName,link.ControllerName)</li>
    }
}
else{
    var links = from item in menus
                where item.Roles.Split(new String[]{","},StringSplitOptions.RemoveEmptyEntries)
                .Any(x=>new String[]{"All"}.Contains(x))      
                select item;
     foreach ( var link in links){     
         @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>         
     }
}
</ul>