﻿@model IEnumerable<FreelancerDemo.WorkRecord>

@{
    ViewBag.Title = "Time Registrations";
}

<h2>Time Registrations</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            WorkType
        </th>
        <th>
            Project
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkRecordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkRecordId })
        </td>
    </tr>
}

</table>
<p>
    <button onclick="location.href='@Url.Action("Create", "WorkRecord")';return false;">Create New</button>
</p>