﻿@model FreelancerDemo.Customer

@{
    ViewBag.Title = "Delete Customer";
}

<h2>Delete Customer</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button type ="submit">Delete</button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
