﻿@model FreelancerDemo.Models.WorkRecordSummaryModel

@{
    ViewBag.Title = "Time Summary";
}

<h2>Time Summary</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WorkRecordSummaryModel</legend>
        
        <div class="editor-label">
            From date
        </div>
        <div class="editor-field">
            <input type="text" name="DateFrom" id="DateFrom" class="datefield" />
            @Html.ValidationMessageFor(model => model.DateFrom)  
        </div>

        <div class="editor-label">
            To date
        </div>
        <div class="editor-field">
            <input type="text" name="DateTo" id="DateTo" class="datefield" />
            @Html.ValidationMessageFor(model => model.DateTo)
        </div>       
        <p>
            <button type ="submit">Fetch</button>
        </p>
    </fieldset>
}
<table>
@if (Model != null && Model.Entries.Count > 0) {
        <tr>
        <th>
            Customer
        </th>
        <th>
            Project
        </th>
        <th>
            Hours
        </th>
        <th></th>
    </tr>
    foreach (var item in Model.Entries)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                </td>
            </tr>
    }
    <tr>
        <td><b>Total</b></td>
        <td></td>
        <td>@ViewBag.TotalHours</td>
    </tr>
}
</table>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datefield").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>
}