﻿@model IEnumerable<FreelancerDemo.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<table>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Project
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
<p>
    <button onclick="location.href='@Url.Action("Create", "Project")';return false;">Create New</button>
</p>