﻿@model FreelancerDemo.WorkType

@{
    ViewBag.Title = "Delete Worktype";
}

<h2>Delete Worktype</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WorkType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button type ="submit">Delete</button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
