﻿@model IEnumerable<FreelancerDemo.WorkType>

@{
    ViewBag.Title = "Worktypes";
}

<h2>Worktypes</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkTypeId })
        </td>
    </tr>
}

</table>

<p>
    <button onclick="location.href='@Url.Action("Create", "WorkType")';return false;">Create New</button>
</p>